.searchContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.searchWrapper {
  position: relative;
  flex-grow: 1;
}

.searchIcon {
  color: var(--color-text-light);
}

.clearButton {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  padding: 5px;
  border-radius: 50%;
}

.addButtonWrapper {
  flex-shrink: 0;
  height: 48px;
  width: 48px;
}

.addButtonLink {
  text-decoration: none;
  height: 100%;
}

.addButton {
  border-radius: 8px;
}

.plusIcon {
  font-size: 24px;
  font-weight: bold;
}
