:root {
  --hdr-gradient: linear-gradient(360deg in oklab, #ffffff 0%, #f1f5f9 100%);
  --sdr-gradient: linear-gradient(360deg, #fff 0%, #f1f5f9 100%);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: var(--hdr-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100vh;
}
